<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bd9d8d81-c3e6-4a94-a7ce-8b59b3c2b2a0/resourcegroups/MissingZoneAPi/providers/Microsoft.Web/sites/MissingZoneApi20240511172347</ResourceId>
    <ResourceGroup>MissingZoneAPi</ResourceGroup>
    <ApiResourceId>/subscriptions/bd9d8d81-c3e6-4a94-a7ce-8b59b3c2b2a0/resourceGroups/MissingZoneAPi/providers/Microsoft.ApiManagement/service/MissingZoneApiapi/apis/MissingZoneApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://missingzoneapi20240511172347.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>0d8e3125-536f-4c99-a7ea-ee51661c7e36</ProjectGuid>
    <MSDeployServiceURL>missingzoneapi20240511172347.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MissingZoneApi20240511172347</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$MissingZoneApi20240511172347</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>